.preview {
  background-color: #E0E3E6;
  color: #95A5A6;
  padding-bottom: .5rem;
  font-size: 1.1rem;
}

.previewHeader {
  height: 7rem;
  background-color: #2C3E50;
  color: #95A5A6;
  position: relative;
}

.previewBody {
  margin-top: 1rem;
}

.previewHeader .fullName {
  position: absolute;
  font-weight: 200;
  bottom: 1rem;
  left: 2rem;
  font-size: 2.5rem;
}

.previewHeader .avatar {
  height: 7.2rem;
}
