.fieldContainer {
  border-bottom: 1px solid #e8e8e8;
}

.fieldContainer .label {
  font-size: .8rem;
  width: 4.5rem;
  display: inline-block;
  margin-right: 1.5rem;
  color: #2C3E50;
}

.fieldContainer .value {
  font-size: 1.25rem;
}
