.container {
  margin-top: 10rem;
}

.formBackground {
  background-color: #ffffff;
}

.preview {
  background-color: #E0E3E6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formHeader {
  margin-bottom: 2.5rem;
  color: #2C3E50;
}
