.inputLabel {
  color: #2C3E50
}

.inputField {
  color: #000000;
}

.uploadLabel {
  border-radius: 5px;
  width: 100%;
  border: 0;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  padding: .5rem 0;
  background-color: #627B8B;
}
